@@include("head.html",{ "title" : "button" })
<body>
  <div class="wrap">
    <!-- header -->
    <div class="header-container">
      <header>Guide</header>
    </div>

    <!--//END header -->

    <!-- content -->
    <div class="content-container">
      <!-- sidebar -->
      <aside class="sidebar-box beauty-scroll">
        <h3 class="title">CONTENTS</h3>
        <nav>
          <ul class="list">
            <li class="list-item">
              <a href="../component/form.html" class="inner active">
                button
              </a>
            </li>
            <li class="list-item">
              <a href="../component/plug_in.html" class="inner">
                plugIn
              </a>
            </li>
            <li class="list-item">
              <a href="../component/test2.html"  class="inner">
                test
              </a>
            </li>
          </ul>
        </nav>
      </aside>
      <!--//END sidebar -->

      <main class="contents">
        <!-- search box -->
        <h2 class="main-title">검색버튼</h2>
        <div class="sesarch-container">
          <form>
            <fieldset>
              <legend>검색</legend>
              <div class="search-bar">
                <div class="search-title"><strong>검색 영역 타이틀 있는 경우</strong></div>
                <div class="search-input">
                  <label for="search-input-id" class="ir">검색어 입력</label>
                  <div class="input">
                    <input type="text" id="search-input-id" value="" placeholder="검색어를 입력해주세요">
                    <button type="button" class="btn-remove show"><span>검색어 지우기</span></button>
                    <button type="button" class="btn-search show">검색하기</button>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <!-- 체크박스 -->
        <div class="field">

        </div>
        <!--//END 선택버튼 -->

      </main>
    </div>
    <!--//END content -->
  </div>
</body>
</html>
