@@include("head.html",{ "title" : "test" })
<body>
  <div class="wrap">
    <!-- header -->
    <div class="header-container">
      <header>Guide</header>
    </div>

    <!--//END header -->

    <!-- content -->
    <div class="content-container">
      <!-- sidebar -->
      <aside class="sidebar-box beauty-scroll">
        <h3 class="title">CONTENTS</h3>
        <nav>
          <ul class="list">
            <li class="list-item">
              <a href="../component/form.html" class="inner active">
                form
              </a>
            </li>
            <li class="list-item">
              <a href="../component/test1.html" class="inner">
                test
              </a>
            </li>
            <li class="list-item">
              <a href="../component/test2.html"  class="inner">
                test
              </a>
            </li>
          </ul>
        </nav>
      </aside>
      <!--//END sidebar -->

      <div class="contents">
        <!-- 체크박스 -->
        <div class="field">

        </div>
        <!--//END 선택버튼 -->

      </div>
    </div>
    <!--//END content -->
  </div>
</body>
</html>
