<!-- Header -->
<div class="header-container">
  <div class="header-area">
    <div class="text-box">
      <span>@@title</span>
    </div>
    <!-- GNB -->
    <div class="gnb">
      <ul class="gnb-box">
        <li class="gnb-list first">
          <a href="javascript:void(0)">
            <span>테스트입니다</span>
          </a>
        </li>
        <li class="gnb-list">
          <a href="javascript:void(0)">
            <span>GNB Menu 2</span>
          </a>
        </li>
        <li class="gnb-list last">
          <a href="javascript:void(0)">
            <span>GNB Menu 3</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
