

.tab-container {
  padding: 20px;
}

.tab-box {
  @include flex(row, flex-start, flex-start);
  border-bottom: 1px solid #eee;
  .btn-tab {
    border-radius: 5px 5px 0 0;
    background-color: #ddd;
    &:hover {
      background-color: $primary;
      color: #fff;
    }
    &.active {
      background-color: $primary;
      color: #fff;
    }
  }
}

.tab-content-box {
  height: 300px;
  padding: 15px 30px;
  background-color: #f5f5f5;
}